*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color:#6495ED;
}
header{
    background-color: darkblue;
    color: cornflowerblue;
    padding: 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul li{
    margin-left: 20px;
}
nav ul li a{
    color: lightblue;
    text-decoration: none;
}
a:hover{
    background-color: steelblue;

}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    font-size: 2em;
    font-weight: bold;
}

@media(max-width:675px){
    header .container{
        flex-direction: column;
        text-align: center;
    }

    nav ul{
        margin-top: 10px;
        flex-direction: column;
    }
}
img {
    margin: auto;
    display: block;
    width: 20%;
    padding: 20px;
}